@font-face {
  font-family: "alegreya";
  src: url("./fonts/alegreyasanssc-black-webfont.woff2") format("woff2"),
    url("./fonts/alegreyasanssc-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
}
body {
  font: 16px / 1.42em "Roboto", Arial, sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  overflow: hidden;
  min-width: 1310px;
}
.hero {
  height: 100vh;
  min-height: 650px;
  background: url("./img/bg/hero.jpg") center center / cover no-repeat;
  position: relative;
}
.header {
  padding-top: 27px;
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}
.mail__title {
  margin-bottom: 3px;
}
.mail__content {
  background: #212121;
  color: #ffbc2f;
  padding: 5px 10px;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 72%;
}
.fade-slider {
  width: 100%;
  height: 100%;
}
.fade-slider__item {
  background: url("./img/content/hero/slider_pic_1.png") center center / contain
    no-repeat;
  height: 100%;
}
.fade-slider__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-164%, -52%);
}
.lined-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "alegreya", Arial, Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 63px;
  line-height: 1;
}

.lined-text__word {
  background: #000;
  padding: 0 17px 8px;
  margin-top: -7px;
}
.lined-text__word--color-yellow {
  color: #ffbc2f;
}
/* n-работает так
2*0 = 0
2*1 = 2
2*2 = 4
2*3 = 6
...
 */
.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}
